services:

  redis:
    image: redis:latest
    volumes:
      - redis_data:/data
    networks:
      - dev
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      retries: 5
    restart: always

  redis-insight:
    image: redis/redisinsight:latest
    ports:
      - "5540:5540"
    networks:
      - dev
    depends_on:
      - redis

  postgres-db:
    image: postgres:latest
    volumes:
      - pgdata:/var/lib/postgresql
    environment:
      POSTGRES_DB: "Synapse"
      POSTGRES_USER: "post"
      POSTGRES_PASSWORD: "123"
    networks:
      - dev
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U post" ]
      interval: 5s
      retries: 5
    restart: always

  rabbitmq:
    image: rabbitmq:3.8-management
    ports:
      - "${RMQ_PORT}:5672"
      - "15672:15672"
    networks:
      - dev
    environment:
      RABBITMQ_DEFAULT_USER: "lorsan"
      RABBITMQ_DEFAULT_PASS: "lorser2009"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    restart: unless-stopped


volumes:
  redis_data:
  pgdata:
  rabbitmq-data:

networks:
  dev: